Hello 


<select name="sss">
    <option>choisir nb</option>


        <option value="1">   1</option>
        <option value="2">   2</option>


        
    </select>

<select name="ss">

 <option>choisir categorie</option>
{% for users in userss %}

        <option value="{{users.id}}">   {{users.nom}}</option>

{% endfor %}
        
    </select>
